body {
  background-color: #ecbcbc;
}

h1 {
  font-size: 40px;
  color: #a159c5;
  line-height: 1.5;
  text-align: center;
}

.content {
  text-align: center;
}
.form-wrapper {
  padding: 30px 15px;
  border-radius: 15px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
  padding: 15px 20px;
}

.information {
  padding: 15px 60px;
  border-radius: 20px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 30%;
  font-size: 13px;
  line-height: 20px;
  color: #a159c5;
  padding-left: 22px;
}
.click-submit {
  margin-left: 10px;
  background: #a159c5;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  padding: 15px 30px;
}

.poem {
  font-size: 14px;
  background-color: #ecbcbc;
  color: #a159c5;
  font-weight: bold;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid #a159c5;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}
.hidden {
  display: none;
}

footer {
  text-align: center;
  color: #a159c5;
  font-size: 14px;
  margin-top: 30px;
}
.example {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
  margin-right: 311px;
  padding: 8px;
}

.twitch {
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
